body {
	padding-top: 50px;
	font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

.hioogo-section > p, .hioogo-section > ul, .hioogo-section > ol{
	font-size: 16px;
	line-height: 1.75;
	margin-bottom: 1em;
}

.hioogo-nav {
	margin-bottom: 0;
	background-color: #fff;
	border-bottom: 0;
	border-bottom: 1px solid #e5e5e5;
}

.hioogo-nav .navbar-brand, .hioogo-nav .navbar-nav>li>a {
	font-weight: 500;
	color: #563d7c;
}

.hioogo-section {
	height:580px;
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 16px;
	line-height: 1.5;
	color: #555;
	text-align: center;
	background-color: #fff;
	background-size: cover;
	/*background-attachment: fixed;*/
	margin-bottom:1px;
	border-bottom: 1px solid #e5e5e5;
}

.hioogo-section  p{
	text-align:left;
	line-height:200%;
}

#section0{
	background-image: url(../img/bg0.jpg);
	color: #fff;
}

#section1 h3{
	font-size: 46px;
	color: #0194e9;
	line-height: 50px;
	text-align:left;
}
#section1{
	background-image: url(../img/c-72.png);
}

#section2-{
	background-image: url(../img/bg2.jpg);
}

#section3{
	background-image: url(../img/chufang.jpg);
	background-attachment: fixed;
}

#section4-{
	background-image: url(../img/bg4.jpg);
}

.hioogo-section-title {
	margin-bottom: 5px;
	font-size: 30px;
	font-weight: 400;
	color: #fff;
}

@media (min-width: 768px) {
	.hioogo-section-title {
		font-size: 40px;
	}
}
.hioogo-section .lead {
	text-align: center;
}

@media (min-width: 768px) {
	.hioogo-section .lead {
		max-width: 80%;
		margin-right: auto;
		margin-left: auto;
	}
}

.hioogo-section .row {
	margin-right: -1px;
	margin-left: -1px;
}
.col-sm-4 {
	margin-bottom:10px;
}

.half-rule {
	width: 100px;
	margin: 40px auto;
}

.hioogo-footer {
	padding-top: 40px;
	padding-bottom: 40px;
	color: #777;
	text-align: center;
}
.hioogo-footer .half-rule {
	width: 95%;
	margin: 40px auto;
}

